<div class="card my-5">
    <div class="card-body">
        <h1 class="card-title" value="<%= @vendedor.nombre%>"></h1>
        <p class="card-text">
        <ul>
            <li><%= @vendedor.id%></li>
            <li><%= @vendedor.nombre%></li>
            <li><%= @vendedor.mail%></li>
            <li><%= @vendedor.oficina%></li>
            <li><%= @vendedor.manager%></li>
        </ul>
        </p>
    </div>
</div>
